@use "scss/company-colors";
@use "scss/fonts";

@mixin rightCorner(){
    position:absolute;
    bottom: 0;
    right: 0;
}

@mixin sizeSize(){
    font-size: 10vw;
}

.center-all {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin circle($size,$max, $bg-color: #97f7e2){  //$bg-color: ##e997f7 würde eine Art Default-Wert sein, wenn keine Übergabe erfolgt ist
    width: $size;
    height: $size;
    max-width: $max;
    max-height: $max;
    background-color: $bg-color;
    border-radius: 50%; 
}

body {
  background-color: $bg-color;
  font-family: 'Creamine';
}

a {
    text-decoration: none;
    color: $second-color;
    font-size: 3vw;
    margin: 0 2vw;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 { 
    color: $main-color;
    font-family: 'Creamine';
    text-align: center;
    font-size: 12vw;
}

.main-text {
    color: $second-color;
    position: absolute;
    left: 100px;
    width: 60%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include sizeSize();
}

.main-color {
    color: $main-color;
    font-family: 'Miskan Oblique';
}

.btn-container {
    @extend .center-all;
    gap: 16px;
    margin-top: 32px;
}

.button {
    background-color: $second-color;
    border: unset;
    height: 6vw;
    min-width: 12vw;
    font-size: 2vw;
    padding: 0px 16px; 
    border-radius: 20px;
    font-family: 'Miskan Oblique';

    &:hover {
        cursor: pointer;
        background-color: $main-color;
        color: $second-color;
        scale: 0.9;
    }
}

.button-main {
    @extend .button;
     background-color: $main-color;
     color: $second-color;
    &:hover {
        background-color:  #12c69f;
    }
}

.img-icecream {
    @include rightCorner();
}

.circle {
    @include circle(45vw, 100px, #82e6d0); //solange keine Farbe übergeben wird, gilt der Default
    @include rightCorner();
}